<ion-header>
  <ion-toolbar color="success">
    <ion-title class="ion-text-center">Registro de alumnos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="success">

  <div class="divReg">
    <form [formGroup]="formulario" (ngSubmit)="enviar()">
      <ion-row>
        <ion-col size="6" sizeLg="6" sizeSm="12" sizeXs="12">
          <ion-item>
            <ion-input type="text" formControlName="nombre" placeholder="Nombre"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="text" formControlName="primer_apellido" placeholder="Primer apellido"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="text" formControlName="segundo_apellido" placeholder="Segundo Apellido"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Carrera</ion-label>
            <ion-select formControlName="carrera" multiple="false" cancelText="Cancelar" okText="Ok">
              <ion-select-option value="Agricultura Sustentable y Protegida">Agricultura sustentable y protegida</ion-select-option>
              <ion-select-option value="Diseño y Moda Industrial">Diseño y moda industrial</ion-select-option>
              <ion-select-option value="Gastronomía">Gastronomía</ion-select-option>
              <ion-select-option value="Procesos Alimentarios">Procesos alimentarios</ion-select-option>
              <ion-select-option value="Desarrollo de Negocios">Desarrollo de negocios</ion-select-option>
              <ion-select-option value="Energías Renovables">Energías renovables</ion-select-option>
              <ion-select-option value="Mecatrónica">Mecatrónica</ion-select-option>
              <ion-select-option value="Tecnologías de la Información y Comunicación">Tecnologías de la información y comunicación</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col size="6" sizeLg="6" sizeSm="12" sizeXs="12">
          <ion-item>
            <ion-input type="text" formControlName="grupo" placeholder="Grupo"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="text" formControlName="matricula" placeholder="Matrícula"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="number" formControlName="numero" placeholder="Numero telefónico"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="password" formControlName="contra" placeholder="Contraseña"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <div class="ion-text-center">
        <ion-button type="submit" color="secondary" shape="round" [disabled]="formulario.invalid">Registrarse</ion-button>
      </div>
    </form>
  </div>

</ion-content>
