<app-header></app-header>

<ion-content color="success">

  <div class="ion-text-center">
    <h2>GASTRONOMÍA</h2>

    <div style="background-color: white; width: 60%; height: 100px; margin-left: auto; margin-right: auto;">
      <br>
      <h2 style="color: black;">Aún no has subido listas en esta sección</h2>
    </div>
  </div>

</ion-content>