<ion-header>
    <div class="topnav" id="myTopnav">
        <a (click)="inicio()" id="inicio"><ion-icon name="home"></ion-icon>Inicio</a>
        <a (click)="tutoria()" id="tutoria"><ion-icon name="add"></ion-icon>Agregar Tutoría</a>
        <a (click)="alumnos()" id="alumnos"><ion-icon name="people"></ion-icon>Alumnos</a>
        <a (click)="listas()"  id="listas"><ion-icon name="clipboard"></ion-icon>Listas</a>

        <a (click)="logout()" class="adm"><ion-icon name="log-out"></ion-icon>Salir</a>
        <a (click)="admin()" class="logout"><ion-icon name="person"></ion-icon>Admin</a>
        <a href="javascript:void(0);" class="icon" (click)="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
      </div>
</ion-header>