<ion-header>
  <div class="topnav" id="myTopnav">
      <a (click)="inicio()" id="inicio"><ion-icon name="home"></ion-icon>Inicio</a>

      <a (click)="logout()" class="adm"><ion-icon name="log-out"></ion-icon>Salir</a>
      <a class="logout" *ngFor="let alumno of currentUser"><ion-icon name="person"></ion-icon> {{alumno.nombre}} </a>
      <a href="javascript:void(0);" class="icon" (click)="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
    </div>
</ion-header>