th{
    padding: 15px;
    background-color: rgb(50, 50, 50);
    border: 2px solid;
    
}

td{
    padding: 15px;
    border: 2px solid;
    background-color: white;
    color: black;
}

.pdf{
    margin-right: 1px;
}

.tabla{
    width: 95%;
    overflow: auto;
    white-space: nowrap;
    margin-left: auto;
    margin-right: auto;
}