<app-header></app-header>

<ion-content color="success">

  <h2 class="ion-text-center">Alumnos inscritos</h2>

  <ion-row>
    <ion-col sizeLg="4" sizeSm="7" sizeXs="7">
      <ion-searchbar placeholder="Buscar"></ion-searchbar>
    </ion-col>
    <ion-col sizeLg="4" sizeSm="0" sizeXs="0"></ion-col>
    <ion-col sizeLg="4" sizeSm="3" sizeXs="3">
      <ion-button (click)="downloadPDF()">Imprimir PDF</ion-button>
    </ion-col>
  </ion-row>


  <div class="tabla">
    <table id="htmlTable">
      <tr>
        <th>#</th>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>Carrera</th>
        <th>Grupo</th>
        <th>Matrícula</th>
        <th>Tutoría</th>
        <th>Teléfono</th>
        <th>Encargado de tutoría</th>
        <th>Estado</th>
        <th>Eliminar</th>
        <th>Targetón</th>
        <th>Restaurar contraseña</th>
      </tr>
      <tr *ngFor="let item of tutorias">
        <td>{{item.id}}</td>
        <td>{{item.nombre}}</td>
        <td>{{item.apellidos}}</td>
        <td>{{item.carrera}}</td>
        <td>{{item.grupo}}</td>
        <td>{{item.matricula}}</td>
        <td>{{item.nombre_tutoria}}</td>
        <td>{{item.numero}}</td>
        <td>{{item.encargado_tutoria}}</td>
        <td><ion-button color="primary">Liberar</ion-button></td>
        <td><ion-button color="danger">Eliminar</ion-button></td>
        <td><ion-button fill="outline" color="medium">Sin entregar</ion-button></td>
        <td><ion-button fill="outline" color="medium"><ion-icon class="icon-only" name="copy-outline"></ion-icon></ion-button></td>
      </tr>
    </table>
  </div>

</ion-content>
