<app-header></app-header>

<ion-content color="success">

  <div class="formTuto" (submit)="enviar()">
    <form [formGroup]="tutoria">
      <h6>Nombre de la tutoría</h6>
    <ion-item class="inputt">
      <ion-input formControlName="nombre" type="text" placeholder=""></ion-input>
    </ion-item>
    <h6>Encargado de la tutoría</h6>
    <ion-item class="inputt">
      <ion-input formControlName="encargado"  type="text" placeholder=""></ion-input>
    </ion-item>
    <h6>Descripción</h6>
    <ion-item class="inputt">
      <ion-input formControlName="descripcion" type="text" placeholder=""></ion-input>
    </ion-item>
    <br><br>

    <div>
      <ion-checkbox formControlName="limitar" [(ngModel)]="tutoria.limitar"></ion-checkbox>
      <h6 class="limi">Limitar</h6>
    </div>

    <div *ngIf="tutoria.limitar == true">
      <h6>Numero límite de alumnos:</h6>
      <ion-input formControlName="limite" class="inp" color="dark" type="number"></ion-input>
    </div>

    <h5 class="ion-text-center">Días</h5>

    <ion-grid formGroupName="dias">
      <ion-row>
        <ion-col formGroupName="lunest" sizeXs="6" sizeSm="6" sizeLg="2" class="ion-text-center">
          <h6>Lunes</h6>
          <ion-checkbox formControlName="lunes" [(ngModel)]="tutoria.lunes"></ion-checkbox>
          <div *ngIf="tutoria.lunes == true">
            <ion-item>
              <ion-input formControlName="lunestime" type="time"></ion-input>
            </ion-item>
          </div>
        </ion-col>
        <ion-col formGroupName="martest" sizeXs="6" sizeSm="6" sizeLg="2" class="ion-text-center">
          <h6>Martes</h6>
          <ion-checkbox formControlName="martes" [(ngModel)]="tutoria.martes"></ion-checkbox>
          <div *ngIf="tutoria.martes == true">
            <ion-item>
              <ion-input formControlName="martestime" type="time"></ion-input>
            </ion-item>
          </div>
        </ion-col>
        <ion-col formGroupName="miercolest" sizeXs="6" sizeSm="6" sizeLg="2" class="ion-text-center">
          <h6>Miércoles</h6>
          <ion-checkbox formControlName="miercoles" [(ngModel)]="tutoria.miercoles"></ion-checkbox>
          <div *ngIf="tutoria.miercoles == true">
            <ion-item>
              <ion-input formControlName="miercolestime" type="time"></ion-input>
            </ion-item>
          </div>
        </ion-col>
        <ion-col formGroupName="juevest" sizeXs="6" sizeSm="6" sizeLg="2" class="ion-text-center">
          <h6>Jueves</h6>
          <ion-checkbox formControlName="jueves" [(ngModel)]="tutoria.jueves"></ion-checkbox>
          <div *ngIf="tutoria.jueves == true">
            <ion-item>
              <ion-input formControlName="juevestime" type="time"></ion-input>
            </ion-item>
          </div>
        </ion-col>
        <ion-col formGroupName="viernest" sizeXs="6" sizeSm="6" sizeLg="2" class="ion-text-center">
          <h6>Viernes</h6>
          <ion-checkbox formControlName="viernes" [(ngModel)]="tutoria.viernes"></ion-checkbox>
          <div *ngIf="tutoria.viernes == true">
            <ion-item>
              <ion-input formControlName="viernestime" type="time"></ion-input>
            </ion-item>
          </div>
        </ion-col>
        <ion-col formGroupName="sabadot" sizeXs="6" sizeSm="6" sizeLg="2" class="ion-text-center">
          <h6>Sábado</h6>
          <ion-checkbox formControlName="sabado" [(ngModel)]="tutoria.sabado"></ion-checkbox>
          <div *ngIf="tutoria.sabado == true">
            <ion-item>
              <ion-input formControlName="sabadotime" type="time"></ion-input>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    
    <div class="ion-text-center">
      <ion-button type="submit" [disabled]="tutoria.invalid">Guardar</ion-button>
    </div>

  </form>
  
  </div>

</ion-content>