.formTuto{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.inputt{
    border-radius: 15px;
}

.limi{
    position: relative;
    bottom: 40px;
    left: 25px;
}

.inp{
    background-color: white;
    border-radius: 15px;
}

.tabla{
    background-color: rgb(48, 43, 43);
}