<app-header></app-header>

<ion-content color="success">

    <ion-grid style="margin-top: 150px;">
        
        <button class="ad" routerLink="/listas/agregar-listas">
            <ion-icon slot="icon-only" name="add"></ion-icon>
        </button>

        <ion-row>
            <ion-col sizeLg="3" sizeSm="12" sizeXs="12">
                <ion-button color="light" expand="block" fill="round" routerLink="/listas/agricultura" >
                    Agricultura sustentable y protegida
                </ion-button>
            </ion-col>
            <ion-col sizeLg="3" sizeSm="12" sizeXs="12">
                <ion-button color="light" expand="block" fill="round" routerLink="/listas/desarrollo" >
                    Desarrollo de negocios
                </ion-button>
            </ion-col>
            <ion-col sizeLg="3" sizeSm="12" sizeXs="12">
                <ion-button color="light" expand="block" fill="round" routerLink="/listas/moda" >
                    Diseño y moda industrial
                </ion-button>
            </ion-col>
            <ion-col sizeLg="3" sizeSm="12" sizeXs="12">
                <ion-button color="light" expand="block" fill="round" routerLink="/listas/energias" >
                    Energías renovables
                </ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col sizeLg="3" sizeSm="12" sizeXs="12">
                <ion-button color="light" expand="block" fill="round" routerLink="/listas/gastro" >
                    Gastronomía
                </ion-button>
            </ion-col>
            <ion-col sizeLg="3" sizeSm="12" sizeXs="12">
                <ion-button color="light" expand="block" fill="round" routerLink="/listas/meca" >
                    Mecatrónica
                </ion-button>
            </ion-col>
            <ion-col sizeLg="3" sizeSm="12" sizeXs="12">
                <ion-button color="light" expand="block" fill="round" routerLink="/listas/procesos" >
                    Procesos alimentarios
                </ion-button>
            </ion-col>
            <ion-col sizeLg="3" sizeSm="12" sizeXs="12">
                <ion-button color="light" expand="block" fill="round" routerLink="/listas/ti" >
                    Tecnologías de la información y comunicación
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>
