<app-header></app-header>

<ion-content color="success">

  <div class="divAdd">
    <ion-label>Carreras</ion-label>
    <ion-item>
      <ion-select placeholder="Agricultura sustentable y protegida" multiple="false" cancelText="Cancelar" okText="Ok">
        <ion-select-option value="Agricultura sustentable y protegida">Agricultura sustentable y protegida</ion-select-option>
        <ion-select-option value="Diseño y moda industrial">Diseño y moda industrial</ion-select-option>
        <ion-select-option value="Gastronomía">Gastronomía</ion-select-option>
        <ion-select-option value="Procesos alimentarios">Procesos alimentarios</ion-select-option>
        <ion-select-option value="Desarrollo de negocios">Desarrollo de negocios</ion-select-option>
        <ion-select-option value="Energías renovables">Energías renovables</ion-select-option>
        <ion-select-option value="Mecatrónica">Mecatrónica</ion-select-option>
        <ion-select-option value="Tecnologías de la información y comunicación">Tecnologías de la información y comunicación</ion-select-option>
      </ion-select>
    </ion-item>
    <br><br>
    <ion-label>Listas</ion-label>
    <ion-item color="success">
      <ion-input type="file" placeholder="Elegir archivos"></ion-input>
    </ion-item>
    <div class="ion-text-center">
      <ion-button>Subir</ion-button>
    </div>
  </div>
</ion-content>