<app-header></app-header>

<ion-content color="success">

    <ion-grid fixed>
        <ion-row>
            <ion-col size-lg="4" size-md="6" size-xs="12" *ngFor="let t of tuto">
                <ion-card>
                    <ion-button fill="clear" color="medium" class="equis" (click)="eliminar(t.id)">
                        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
                    </ion-button>

                    <hr class="linea">
                    
                    <ion-card-header>
                        <ion-card-title>{{t.nombre}}</ion-card-title>
                        <ion-card-subtitle><ion-icon name="person"></ion-icon> {{t.encargado}}</ion-card-subtitle>
                    </ion-card-header>
                    <ion-card-content>
                        Descripción: <br>
                        {{t.descripcion}} <br><br>
                        Horarios: <br>

                        <div class="ion-text-center">
                            <ion-button color="success" expand="block" [routerLink]="['/detalle-tutoria', t.id]" >Detalles</ion-button>
                        </div>

                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>
