// .topnav {
//     background-color: rgb(0, 0, 0);
//     overflow: hidden;
// }
  
// .topnav a {
//     float: left;
//     color: #f2f2f2;
//     text-align: center;
//     padding: 14px 16px;
//     text-decoration: none;
//     font-size: 17px;
// }
  
// .topnav a:hover {
//     background-color: #ddd;
//     color: black;
// }
  
// .topnav a.active {
//     background-color: #04AA6D;
//     color: white;
// }

// .topnav a.adm{
//     float: right;
//     color: #f2f2f2;
//     text-align: center;
//     padding: 14px 16px;
//     text-decoration: none;
//     font-size: 17px;
// }

// .topnav a.logout{
//     float: right;
//     color: #f2f2f2;
//     text-align: center;
//     padding: 14px 16px;
//     text-decoration: none;
//     font-size: 17px;
// }

.equis{
    position: relative;
    left: 300px;
    margin: 0px;
    margin-bottom: 0px;
}

.linea{
    width: 95%;
    height: .5px;
    background-color: gray;
}