<app-header></app-header>

<ion-content color="success">

  <div class="formAdmin">
    <form [formGroup]="admin" (ngSubmit)="enviar()">
      <ion-item>
        <ion-input formControlName="nombre" type="text" placeholder="Nombre"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input formControlName="primer_apellido" type="text" placeholder="Apellido paterno"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input formControlName="segundo_apellido" type="text" placeholder="Apellido materno"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input formControlName="matricula" type="text" placeholder="Matricula o nombre de usuario"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input formControlName="contra" type="password" placeholder="Contraseña"></ion-input>
      </ion-item>
    
    <div class="ion-text-center">
      <ion-button type="submit" color="success">Editar</ion-button>
    </div>
  </form>
  </div>

</ion-content>
