<ion-content color="success">

  <div class="contenedor">
    <h3 class="ion-text-center">Registro de tutorías</h3>
    <ion-row>
        <ion-col class="cardLogin" size-xs="12" sizeSm="12" sizeLg="7">
          <form [formGroup]="login" (ngSubmit)="logueo(login.value.matricula)">
          <ion-card>
            <h3 class="ion-text-center">LOGIN</h3>
            <ion-item class="inp">
              <ion-input type="text" formControlName="matricula" placeholder="Matrícula"></ion-input>
            </ion-item>
            <ion-item class="inp">
              <ion-input type="password" formControlName="contra" placeholder="Contraseña"></ion-input>
            </ion-item>
            <ion-row>
              <ion-col size="6">
                <ion-button type="submit" color="success" expand="block" shape="round">Ingresar</ion-button>
              </ion-col>
              <ion-col size="6">
                <ion-button color="light" expand="block" shape="round" routerLink="/registro">Registrarse</ion-button>
              </ion-col>
            </ion-row>
          </ion-card>
        </form>
        </ion-col>
    </ion-row>
  </div>
 
</ion-content>
