<app-header></app-header>

<ion-content color="success">

  <h2 class="ion-text-center">INSCRITOS A {{this.nombreTutoria | uppercase}}</h2>

  <ion-button (click)="downloadPDF()" expand="block" fill="clear" shape="round">Imprimir PDF</ion-button>

  <div class="tabla">
    <table id="htmlTable">
      <tr>
        <th>#</th>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>Carrera</th>
        <th>Grupo</th>
        <th>Matrícula</th>
        <th>Teléfono</th>
        <th>Encargado de tutoría</th>
        <th>Estado</th>
      </tr>
      <tr *ngFor="let item of infoTuto">
        <td>{{item.id}}</td>
        <td>{{item.nombre}}</td>
        <td>{{item.apellidos}}</td>
        <td>{{item.carrera}}</td>
        <td>{{item.grupo}}</td>
        <td>{{item.matricula}}</td>
        <td>{{item.numero}}</td>
        <td>{{item.encargado_tutoria}}</td>
        <td><ion-button color="danger">Quitar</ion-button></td>
      </tr>
    </table>
  </div>

</ion-content>
