<app-header-alumno></app-header-alumno>

<ion-content color="success">
    
    <ion-grid fixed>
        <ion-row>
            <ion-col size-lg="4" size-md="6" size-xs="12" *ngFor="let t of tutorias; let i = index">
                <ion-card>
                    <ion-card-header>
                        <ion-card-title>{{t.nombre}}</ion-card-title>
                        <ion-card-subtitle><ion-icon name="person"></ion-icon> {{t.encargado}}</ion-card-subtitle>
                    </ion-card-header>
                    <ion-card-content>
                        Descripción: <br>
                        {{t.descripcion}} <br><br>
                        Horarios: <br>

                        <div class="ion-text-center">
                            <ion-button color="success" expand="block" (click)="getTutoria(i)">Inscribirme</ion-button>
                        </div>

                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>
